* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* general */
body {
    background-color: map-get($colors, white);
    font-size: $baseFontSize;
}

a:focus {
    text-decoration: none;
}