// colors 
$colors: (
    white: #fffcf4,
    primary: #f39c12,
    text-about: #757471,
    text-experience: #3c434c,
    timeline-header-text: #6e6e6e,
    timeline-header-bg: #cfcdc6,
    text-portfolio: #535252,
    separator: #dddddd,
    piechart: #e56e34,
    dark: #2c2b29
);

// fonts
$font-fallback: Arial, sans-serif;
$Roboto: Roboto, $font-fallback;
$Lato: Lato, $font-fallback;
$OpenSans: 'Open Sans', $font-fallback;

// pie-charts
$ring-border-width: 10px;
$ring-width: 252px;

// breakpoints
$break-larger: 1200px;
$break-large: 1120px;
$break-medium: 991px;
$break-small: 750px;