// colors 
$colors: (
    white: #fffcf4,
    primary: #f39c12,
    text-about: #757471,
    text-experience: #3c434c,
    text-portfolio: #535252,
    piechart: #e56e34,
    dark: #2c2b29
);

// fonts
$font-fallback: Arial, sans-serif;
$Roboto: Roboto, $font-fallback;
$Lato: Lato, $font-fallback;
$OpenSans: 'Open Sans', $font-fallback;