.about {
    padding-top: 104px;
    padding-bottom: 86px;
}

.img-wrap {
    img {
        margin-left: auto;
        margin-right: auto;
    }
    
}

.about-text {
    padding-top: 17px;
    text-align: center;
    
    h2 {
        font: 600 55px $OpenSans;
        color: map-get($colors, primary);
        text-transform: uppercase;
        margin: 0 0 50px 0;
        position: relative;
        
        &:after {
            content: "";
            display: block;
            background-color: map-get($colors, primary);
            width: 102px;
            height: 8px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            margin-left: -91px;
            margin-top: 5px;
        }
    }
    
    p {
        color: map-get($colors, text-about);
        font: 300 24px $Lato;
    }
}