/* navigation */
.nav {
    font: 500 30px $Roboto;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    
    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        display: block;
        float: left;
        margin-right: 37px;
        &:last-child {
            margin-right: 0;
        }
    }
    
    a {
        color: map-get($colors, white);
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1;
        transition: color .3s;
        &:hover {
            text-decoration: none;
            color: map-get($colors, primary);
        }
    }
}

.nav > .container {
    padding: 43px 0 0 38px;
}

.nav .highlight {
    font-size: 36px;
    margin-top: -5px;
    letter-spacing: 4px;
    position: relative;
    
    &:hover:after {
        background-color: map-get($colors, primary);
    }
    
    &:after {
        content: "";
        display: block;
        width: 243px;
        height: 3px;
        background-color: map-get($colors, white);
        margin-top: -3px;
        margin-left: auto;
        margin-right: auto;
        transition: background-color .3s;
    }
}