/* navigation */
.nav {
    font: 300 30px $Roboto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: top 0.2s ease-in-out;

    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: block;
        float: left;
        margin-right: 37px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: map-get($colors, white);
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1;

        &:hover {
            text-decoration: none;
            color: map-get($colors, primary);
        }

        &:focus {
          text-decoration: none;
        }
    }

    &.is-sticky {
      position: fixed;
      background-color: map-get($colors, white);
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);

      a {
        color: map-get($colors, text-about);
        line-height: 55px;

        &.current {
          color: map-get($colors, primary);
        }

        &:hover {
          color: map-get($colors, primary);
        }
      }

      > .container {
        padding: 0 20px;
      }
    }

    .navbar-brand {
      display: none;
    }

}

.nav > .container {
    padding: 43px 0 0 52px;
}

// Medium devices
@media screen and (max-width: $screen-md-max) {
    .nav {
      font-size: 1.625em;

      & > .container {
          padding: 43px 0 0 22px;
      }

      li {
          margin-right: 30px;
      }
    }
}

// Small devices
@media screen and (max-width: $screen-sm-max) {
    .nav {
      font-size: 1.2em;

      &  > .container {
          padding: 43px 0 0 22px;
      }

      li {
          margin-right: 20px;
      }
    }
}

// Extra small devices
.mobile-menu {
  display: none;
}

/* mobile-menu component */
.mobile-menu {
    position: relative;
    width: 100%;
    z-index: 1000;
    display: none;
}

.mobile-menu-btn {
    background-color: transparent;
    outline: none;
    border: none;
    user-select: none;
    height: $hamburger-width;
    width: $hamburger-width;
    position: relative;

    span {
        background-color: map-get($colors, white);
        height: $bar-height;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: $hamburger-width;

            &::after,
            &::before {
                content: "";
                background-color: map-get($colors, white);
                height: $bar-height;
                left: 0;
                position: absolute;
                width: $hamburger-width;
                transition: bottom $hamburger-hover-time,
                            top $hamburger-hover-time,
                            transform $hamburger-hover-time;
            }

            &::after {
                bottom: -$bar-margin;
            }

            &::before {
                top: -$bar-margin;
            }
    }

    &:hover span {
        &::after {
            bottom: -$bar-margin-hover;
        }

        &::before {
            top: -$bar-margin-hover;
        }
    }

    &.active span {
        width: 0;

        &::after {
            bottom: 0;
            transform: rotateZ(-45deg);
        }

        &::before {
            top: 0;
            transform: rotateZ(45deg);
        }
    }
}
/* mobile-menu component end */

.nav-collapse,
.mobile-menu {
  &:before, &:after {
    display: table;
    content: " ";
  }
}

@media screen and (max-width: $screen-xs-max) {
  .nav {
    font-size: 1.8em;

    &  > .container {
        padding: 22px 38px 0 0;
    }

    ul {
      padding-top: 10px;
    }

    .nav-collapse {
      display: none;
      position: absolute;
      width: 100%;

      li {
        float: none;
        margin: 0 0 10px 0;
        //padding: 3px;
      }

      a {
        text-align: center;
      }
    }

    .nav-collapse.in {
      display: block;
    }

    &.is-sticky {
        background-color: map-get($colors, white);
        //box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);

        .navbar-brand {
            display: block;
        }

        .container {
            padding: 0;
        }

        .navbar-brand {
            padding: 12px 15px;
        }

        .nav-collapse {
            background-color: map-get($colors, white);
        }

        .mobile-menu-btn {
            margin-top: 8px;
            margin-right: 15px;
            margin-bottom: 8px;
        }

        .mobile-menu-btn span {
            background-color: map-get($colors, primary);

            &::before,
            &::after {
                background-color: map-get($colors, primary);
            }
        }

        a {
            color: map-get($colors, text-about);
            line-height: 1;

            &:hover {
              color: map-get($colors, primary);
            }
        }
    }
  }

  .mobile-menu {
    display: block;
  }
}
