/* navigation */
.nav {
    font: 500 30px $Roboto;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color, .5s;
    
    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        display: block;
        float: left;
        margin-right: 37px;
        &:last-child {
            margin-right: 0;
        }
    }
    
    a {
        color: map-get($colors, white);
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1;
        transition: color .3s;
        &:hover {
            text-decoration: none;
            color: map-get($colors, primary);
        }
    }
    
}

.nav > .container {
    padding: 43px 0 0 38px;
}

.nav .highlight {
    font-size: 36px;
    margin-top: -5px;
    letter-spacing: 4px;
    position: relative;
    
    &:hover::after {
        background-color: map-get($colors, primary);
    }
    
    &::after {
        content: "";
        display: block;
        width: 248px;
        height: 3px;
        background-color: map-get($colors, white);
        margin-top: -3px;
        margin-left: auto;
        margin-right: auto;
        transition: background-color .3s;
    }
}

.nav.is-sticky {
    position: fixed;
    background-color: rgba(44, 43, 41, 0.8); //map-get($colors, dark);
    font-size: 25px;

    & > .container {
        padding: 10px;
    }

    .highlight {
        font-size: 25px;
        margin-top: 0;
        
        &::after {
            display: none;
        }
    }
    
    ul {
        text-align: center;
        line-height: 1;
    }
    
    li {
        display: inline-block;
        float: none;
    }
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    transition: all, $menu-push-transition-time, ease;
    
    &.is-sticky {
        left: auto;
        right: 0;
        position: fixed;
        
        .mobile-menu-btn {
            //box-sizing: content-box;
            //padding: 0;
            border-radius: 5px;
            //border: 2px solid map-get($colors, primary);
            background-color: map-get($colors, primary);
            transition: background-color, .5s;
            
            &.nobg {
                 background-color: transparent;
            }
        }
        
        &.active {
            right: $menu-vertical-width;
        }
    }
}

.mobile-menu-btn {
    background-color: transparent;
    outline: none;
    border: none;
    user-select: none;
    height: $hamburger-width;
    width: $hamburger-width;
    position: relative;
    
    span {
        background-color: map-get($colors, white);
        height: $bar-height;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: $hamburger-width;
        
            &::after,
            &::before {
                content: "";
                background-color: map-get($colors, white);
                height: $bar-height;
                left: 0;
                position: absolute;
                width: $hamburger-width;
                transition: bottom $hamburger-hover-time, top $hamburger-hover-time, transform $hamburger-hover-time;
            }

            &::after {
                bottom: -$bar-margin;
            }

            &::before {
                top: -$bar-margin;
            }
    }
    
    &:hover span {
        &::after {
            bottom: -$bar-margin-hover;
        }
        
        &::before {
            top: -$bar-margin-hover;
        }
    }
    
     &.active span {
        width: 0;

        &::after {
            bottom: 0;
            transform: rotateZ(-45deg);
        }

        &::before {
            top: 0;
            transform: rotateZ(45deg);
        }   
    }
}

@media screen and (max-width: $break-larger) {
    .nav {
        font-size: 1.625em;
        
        &  > .container {
            padding: 43px 0 0 22px;
        }
        
        .highlight {
            font-size: inherit;
            &::after {
                width: 187px;
            }
        }
        
        li {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: $break-medium) {
    body {
        overflow-x: hidden;
	    position: relative;
	    left: 0;
        transition: all, $menu-push-transition-time, ease;
    }
    
    .push-toleft {
	    left: -$menu-vertical-width;
    }
    
    .nav {
        background: map-get($colors, white);
        width: $menu-vertical-width;
        position: fixed;
        height: 100%;
        top: 0;
        left: auto;
        right: -$menu-vertical-width;
        z-index: 1001;
        transition: right, $menu-push-transition-time, ease;

        &.open {
            right: 0px;
        }

        li {
            float: none;
            margin-bottom: 8px;
            margin-right: 0;
        }

        .highlight {
            margin-top: 0;
            &::after {
                display: none;
            }
        }
        
        a {
             color: map-get($colors, timeline-header-text);
            
            &.current {
                
            }
        }
        
        .container {
            width: auto;
        }
    }
    
    .mobile-menu {
        display: block;
        padding-top: 43px;
    }
}