/* skills */
.skills {
    background: black url(../img/skills.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 316px;
    padding-bottom: 290px;
    
    h2 {
        color: map-get($colors, white);
        margin: 0 0 141px 0;
        text-align: center;
        
        &:after {
            background-color: map-get($colors, white);
            margin-top: 30px;
        }
    }
}

.skills-slider {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bx-pager {
    text-align: center;
    margin-top: 19px;
    
    .bx-pager-item {
        display: inline-block;
        margin-right: 24px;
        
        &:last-of-type {
            margin-right: 0;
        }
    }
    
    .bx-pager-item  a {
        cursor: pointer;
        text-indent: -9000px;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid map-get($colors, white);
        border-radius: 50%;
        outline: 0;
        
        &:hover,
        &.active {
            background-color: map-get($colors, white);
        }
    }
}

/* pie-charts */
.chart-box {
    text-align: center;
    
    h3 {
        font: 400 1.938em $Lato;
        color: map-get($colors, white);
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 5px;
    }
    
    p {
        font: 300 1em $OpenSans;
        color: map-get($colors, white);
        margin: 0;
        line-height: 1.3;
    }
}

@include make-charts(9, 85, 65, 70, 20, 15, 30, 60, 40, 45);

.progress-ring,
.progress-usage,
.progress-indicator {
  width: $ring-width;
  height: $ring-width;
  display: block;
  border: $ring-border-width solid map-get($colors, white);
  border-radius: 50%;
}

.progress-ring {
	margin: 0 auto;
	text-align: center;
	position: relative;
	border-color: map-get($colors, white);
	
	.progress-usage,
	.progress-indicator {
	  position: absolute;
	  top: -$ring-border-width;
	  left: -$ring-border-width;
	}

	.progress-usage {
		border-color: map-get($colors, piechart);
		clip: rect(0px, $ring-width/2, $ring-width, 0px);
	}
	
	span {
		font: 300 3.438em $Lato;
		color: map-get($colors, white);
		line-height: $ring-width - 2*$ring-border-width;
	}
	
}

@media screen and (max-width: $break-medium) {
    .chart-box {
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}